<!DOCTYPE html>
<html>
<head>
    <title>The Sinatra Project</title>
<link rel="stylesheet" type="text/css" href="<%= url("/css/style.css")%>">
</head>
  <body>
    <header>
    <a href="/"><img src="/images/header.png" alt="Sacré_Hubert" height="100" width="100"></a>
    <h1>P*tin de Sinatra !</h1>
    </header>
    <h2> Consultez les p*tins du plus mythique des "sensei" !</h2>
    <p>N'hésitez pas à ajouter la votre, à commenter votre favorite ou à corriger une erreur si vous en voyez.</p>
    <table>   
      <tr>
        <th>Auteur</th>
        <th>P*tin</th>
        <th></th>
        <th></th>
      </tr> 
      <% gossips.each_with_index do |gossip, index| %>
        <tr>
          <td class="auteur"><%= gossip.author %></td>
          <td class="content"><%= gossip.content %></td>
          <td class="view"><a href="/gossips/<%= index + 1 %>">Voir</a></td>
          <td class="view"><a href="/gossips/<%= index + 1 %>/edit/">Editer</a></td>
        </tr>
      <% end %>
    </table>
    <div class="bouton"><a href="/gossips/new/">Nouveau p*tin</a></div><br/>
 
    </body>
</html>
